# Reference source extracted for study only.
/DevilutionX-master/
/NetHack-NetHack-5.0/
/godot-master/
/keeperfx-master/
/OpenTTD-master/
/openttd-master/
/OpenXcom-master/
/openxcom-master/
/re3-miami/
/warzone2100-master/

# Local build/check artifacts.
build/
**/build/
/.cache/
.DS_Store
